.quiz{
    
    align-items: center;
    width: 100%;
    height: auto;
    border: 2px solid green;
    border-radius: 20px;
    margin: 20px;
    padding: auto;

}
.quiz img{
    width: 80%;
    height: auto;
}