.header{
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
  
    
}
.banner h1{
    background-color:skyblue;
}

.menu{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: blue;
    gap: 20px;
   
}

.banner img{
    width: 100%;
    height: 200px;
}